@font-face {
  font-family:MavenPro-Medium;
  src:url(../fonts/MavenPro-Medium.ttf)
 }

body {
  background-color: #F6F8F7;  
  font-family:MavenPro-Medium,sans-serif;
}

@media only screen and (max-width: 768px) {
  .width {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .modal-dialog{
    width:40%;
  }
}

.logo{
  width:200px;
  margin:auto;
 }
 .container2{
   width:70%;
   margin:auto;
 }
 .width{
     width:100%;
     background-size: cover;
     height:100%;
 }
 
 .input-border {
     border: none;
   border-bottom: 1px solid #0065FF;
   border-radius:0px;
   width:100%;
 }
 
 .box{
     padding:15px;
    
 }
 .mbot{
  margin-bottom: 10px;
  
 }

 form{
   width:100%;
 }
 .form-row{
     margin-left:0;
     margin-right:0;
 }
 .form-group{
     line-height: 0.5;
  
 }
 
 .form-control
 {
    
     color:e0e0e0;
  
 }
 
 form {
   width: 100%;
 }
 
 .whitebg
 {
   background-color: white;
   box-shadow:1px 1px 10px 1px #888888;
 }

 .nopadding
 {
   padding-left:0px;
   padding-right:0px;
 }
 .right{
   padding: 20px;
 }
 .button-right{
float: right;

 }

 .clear
 {
   clear:both;
 }

 .mtop
 {
   margin-top: 70px;
 }

 .logoevent
 {
   width: 70px;
   height: 70px;
   
  
 }
 .imgg{
   max-width:auto;
   max-height: auto;
 object-fit: contain;
 }

 .preview{
  height:100px; 
 }

 .nav-tabs  .nav-link.active{
   color:#0065ff;
 }
 .heigth{
   height: 200px;
 }

//  Css Admin

$orange: #f07b3f;
$blue: #4f9da6;
$darkblue: #233142;
$light: #fafafa;
$red: #ff5959;
$dimlight: rgba(
  $color: #ffffff,
  $alpha: 0.8
);

.auth-container {
  position: relative;
  min-height: 100vh;
  padding: 20vh 0;
  background-position: bottom right;
  background-size: 40%;

  .auth-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: -1;
    background-color: $blue;
    -webkit-clip-path: ellipse(88% 76% at 50% 23%);
    clip-path: ellipse(88% 76% at 50% 23%);
  }

  .auth-page {
    width: 500px;
    border-radius: 3px;
    min-height: 50vh;
    background-color: $light;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba($color: $darkblue, $alpha: 0.2);

    .auth-page-content {
      padding: 1em 0;
      min-width: 400px;
    }
  }
}

.auth-banner.mentor {
  background-color: $orange;
}

.auth-admin {
  background: none;
  background-color: $blue;
}
