/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .intro-text {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .how-to-join-image {
        width: 100px;
        float: right;
    }

    .testimony-image {
        width: 100px;
        float: right;
    }
    .width {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .intro-text {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .how-to-join-image {
        width: 100px;
        float: right;
    }

    .testimony-image {
        width: 100px;
        float: right;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .intro-text {
        padding-top: 40px;
        padding-bottom: 0px;
    }

    .intro-text h1 {font-size: 33px;}

    .how-to-join-image {
        width: 100px;
    }

    .testimony-image {
        width: 100px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .intro-text {
        padding-top: 40px;
        padding-bottom: 0px;
    }

    .how-to-join-image {
        width: 150px;
    }

    .testimony-image {
        width: 130px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .intro-text {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .how-to-join-image {
        width: 150px;
    }

    .testimony-image {
        width: 130px;
    }
}

.app {
    scroll-behavior: smooth;
}

.landing-page {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #0052cc;
    color: white;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar-brand {
    padding-left: 30px;
}

.navitem {
    margin-left: 8px;
    color: white;
}

.navitem:hover {
    text-decoration: underline;
}

.login-button {
    margin-top: -8px;
    color: white;
}

.section {
    padding-top: 150px;
}

.intro {
    background-color: #0052cc;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top: 140px;
    color: white;
}

.intro button {
    color: white;
}

.intro-image {
    width: 100%;
    float: bottom;
}

.how-to-join {
    background-color: #F9F2FA;
}

.how-to-join-image {
    padding-bottom: 75px;
}

.testimony {
    padding-bottom: 150px;
    background-color: #F9F2FA;
}

.testimony-image {
    border-radius: 50%;
}
.contact-us {
    background-image: url("../images/bg-contactus.jpg");
    background-size: cover;
    color: white;
    padding-bottom: 150px;
    padding-top: 50px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F9F2FA;
    padding-top: 50px;
    padding-bottom: 20px;
 }

.footer-socmed-icon {
    margin-left: 30px;
}

.footer-copyright {
    padding-left: 15px;
}

.logo{
 width:200px;
 margin:auto;
}

.width{
    width:100%;
    background-size: cover;
    height:500px;;
}

.input-border {
    border: none;
  border-bottom: 1px solid #0065FF;
  border-radius:0px;
  width:100%;
}

.container{
    width:70%;
}
.box{
    padding:15px;
   
}
.right{
    border:1px solid black;
}
.form-row{
    margin-left:0;
    margin-right:0;
}
.form-group{
    line-height: 0.5;
    margin-bottom:25px;
}
.form-group2{
    margin-bottom:15px;
}
.form-control
{
    font-size: 1vw;
    color:e0e0e0;
    margin-top:10px;
}
.form-control2{
    margin-top:0px;
    
}
.label
{
    margin-bottom:0px;
}
