@font-face {
    font-family:MavenPro-Medium;
    src:url(../fonts/MavenPro-Medium.ttf)
   }

body {
    background-color: #F6F8F7;  
    font-family:MavenPro-Medium,sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .intro-text {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .intro-text h1 { 
        font-size: 48px;
        font-weight: bold; 
    }

    .bold-text {
        font-weight: bold;
    }

    .how-to-join-image {
        width: 100px;
        float: right;
    }

    .testimony-image {
        width: 100px;
        float: right;
    }
  
    .organization-picture {
        width: 80px;
        border-radius: 50%;
        margin-left: 10px;
    }

    .profile-name {
        padding-top: 15px;
        padding-left: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .intro-text {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .intro-text h1 { 
        font-size: 48px;
        font-weight: bold; 
    }

    .how-to-join-image {
        width: 100px;
        float: right;
    }

    .testimony-image {
        width: 100px;
        float: right;
    }
    .modal-dialog {
        max-width: 80%;
    }
    .organization-picture {
        width: 80px;
        border-radius: 50%;
        margin-left: 10px;
    }

    .profile-name {
        padding-top: 15px;
        padding-left: 15px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .intro-text {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .intro-text h1 {
        font-size: 27px;
        font-weight: bold; 
    }

    .intro-text p {font-size: 15px;}

    .how-to-join-image {
        width: 100px;
    }

    .testimony-image {
        width: 100px;
    }

    .organization-picture {
        width: 80px;
        border-radius: 50%;
        margin-left: 0px;
    }

    .profile-name {
        padding-top: 15px;
        padding-left: 15px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .intro-text {
        padding-top: 40px;
        padding-bottom: 0px;
    }

    .intro-text h1 { 
        font-size: 48px;
        font-weight: bold; 
     }

    .how-to-join-image {
        width: 150px;
    }

    .testimony-image {
        width: 130px;
    }

    .organization-picture {
        width: 80px;
        border-radius: 50%;
        margin-left: 0px;
    }

    .profile-name {
        padding-top: 15px;
        padding-left: 0px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .intro-text {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .intro-text h1 { 
        font-size: 48px;
        font-weight: bold; 
     }

    .how-to-join-image {
        width: 150px;
    }

    .testimony-image {
        width: 130px;
    }

    .organization-picture {
        width: 80px;
        border-radius: 50%;
        margin-left: 10px;
    }
}

.app {
    scroll-behavior: smooth;
}

.landing-page {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #0052cc;
    color: white;
    font-weight: bold;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9999;
    
}

.navbar-brand {
    padding-left: 30px;
}

.navitem a {
    margin-left: 8px;
    color: white !important;
}

.navitem a{
    color: white;
}

.navitem:hover {
    text-decoration: underline;
}
.nav-link a {
    color: white;
}

.login-button {
    margin-top: -8px;
    color: white;
}

.section {
    padding-top: 150px;
}

.intro {
    background-color: #0052cc;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top: 140px;
    color: white;
}

.intro-button {
    width: 170px;
    float: left;
}

.intro-image {
    width: 100%;
    float: bottom;
}

.how-to-join {
    background-color: #F9F2FA;
}

.how-to-join-image {
    padding-bottom: 75px;
}

.testimony {
    padding-bottom: 200px;
    background-color: #F9F2FA;
}

.testimony-image {
    border-radius: 50%;
}
.contact-us {
    background-image: url("../images/bg-contactus.jpg");
    background-size: cover;
    color: white;
    padding-bottom: 150px;
    padding-top: 50px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F9F2FA;
    padding-top: 50px;
    padding-bottom: 20px;
 }

.footer-socmed-icon {
    margin-left: 30px;
    color: grey;
}

.footer-button {
    height: 50px;
    margin-left: 30px;
}

.footer-content {
    padding-top: 30px;
}

.footer-content-all{
    border-bottom: solid #E8D8D1 1px;
}

.footer-copyright {
    padding-left: 15px;
    padding-top: 15px;
}

.content-title {
    border-bottom: solid #E8D8D1 1px;
}

.content-title h3 {
    font-weight: bold;
}

.update-organization-profile {
    background-color: #F9F2FA;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-logo {
    width: 177px;
    margin-left: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-organization-profile {
    background-color: white;
    padding: 30px;
    padding-bottom: 70px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px 1px #888888;
}

.form-update-profile {
    background-color: white;
    padding: 30px;
    padding-bottom: 70px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px 1px #888888;
}
.profile-badge {
    background-color: white;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    box-shadow: 1px 1px 10px 1px #888888;
}

.logo-center {
    width:177px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
}
.update-success-content {
    background-color: white;
    padding: 30px;
    padding-bottom: 70px;
    margin-bottom: 80px;
    box-shadow: 1px 1px 10px 1px #888888;
    text-align: center;    
}

.icon-success {
    width: 170px;
}

.register-success {
    background-color: #F9F2FA;
}

.register-success-content {
    background-color: white;
    padding: 30px;
    margin-bottom: 80px;
    box-shadow: 1px 1px 10px 1px #888888;
    text-align: center;    
}

.register-success-content h3 {
    font-weight: bold;
}


.organization-dashboard {
    background-color: white;
    padding: 30px;
    padding-bottom: 70px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px 1px #888888;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.event-count {
    text-align: right;
    font-size: small;
}

.event-action {
    padding-top: 10px;
    text-align: right;
}

.event-action a {
    padding-right: 10px;  
}

.no-event {
    text-align: center;
    padding-top: 50px;
}

.no-event-icon {
    width: 150px;
}

.form-create-event {
    background-color: white;
    padding: 30px;
    padding-bottom: 70px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px 1px #888888;
}

.create-event-button {
    color: white !important;
    font-weight: bold;
}

.article-list {
    background-color: white;
    padding: 30px;
    padding-bottom: 70px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px 1px #888888;
}

.event {
    background-color: white;
    padding: 30px;
    padding-bottom: 70px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px 1px #888888;
}

.article-card {
    margin-top: 30px;
}

.article-image {
    object-fit: cover;
    height: 100%;
}

.forgetpassword-button {
    margin-left: 10px;
}

.article-detail {
    background-color: white;
    padding: 30px;
    padding-bottom: 70px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px 1px #888888;
}

.article-detail-image {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.side-bar {
    background-color: white;
    box-shadow: 1px 1px 10px 1px #888888;
    margin-bottom: 30px;
}

.side-bar-list {
    list-style: none;
}

.side-bar-item {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.side-bar-item:hover {
    background-color: #F9F2FA;
    border-left: solid 3px blue;
}

.side-bar-item:active {
    border-left: solid 3px blue;
}

.side-bar-subitem {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.side-bar-subitem:hover {
    background-color: #F9F2FA;
}

.button-text {
    color: white !important;
}

.logo{
 width:200px;
 margin:auto;
}

.wdt{
    width:100%;
}

// SCSS Raymond 

.containers {
    position: relative;
    top: -60px;
    max-width: 980px;
    margin: 0 auto;
    height: 470px;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,.14);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,.14);
    background-color: #fff;
    margin-top: 90px;
}

.images {
    width: 97%;
}

h3 {
    font-weight: 600;
    padding-top: 30px;
    padding-left: 10px;
}

h3.title {
    padding-top: 0px;
}

.content h5 {
    padding-top: 30px;
}

p.title {
    color:#0065ff;
    font-size: 19px;
    padding-top: 40px;
    padding-left: 10px;
    margin-bottom: 10px
}

input[type=texts] {
    width: 100%;
    padding: 1px 120px;
    margin-left: 10px;
    margin-top: -5px;    
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #0065ff;
  }

.text {
    text-align: center;
    padding-top: 50px;
}

.form-event {
    background-color: white;
    padding: 30px;
    padding-top: 25px;
    margin-top: 30px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px 1px #888888;
    border-radius: 8px 8px 8px 8px;
}

.event-detail {
    background-color: white;
    padding: 30px;
    padding-bottom: 70px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px 1px #888888;
}

.rekomendasi {
    width: 20px;
}

.text-rekomendasi {
    float: left;
}

.profile-detail {
    .list-event {
    background-color: white;
    padding: 30px;
    padding-bottom: 70px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px 1px #888888;
}
}

.input-search {
    padding-top:10px;
}

.input-search input {
    background: #F8F8F8;
    margin-left: 10px;
}

.input-search button {
    float:right;
}